# .env.example
NEXT_PUBLIC_SUPABASE_URL=https://bsjsqvcrgjqsxvitwudn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_0x5JhYcOGxp57um20O_RkQ_EwwNQvd4
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
GEMINI_API_KEY=
